@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

:root {
  --primary-color: #e26e70;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(45deg,
      rgb(65, 88, 208) 0%,
      rgb(200, 80, 192) 50%,
      rgb(255, 204, 112) 100%);
}

.modal-btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 40px;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.modal__inner {
  width: 450px;
  background: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  overflow: hidden;
  animation: modalShow 0.2s linear;
}

.modal__header {
  background: var(--primary-color);
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__header i {
  font-size: 20px;
  cursor: pointer;
}

.modal__body {
  padding: 15px;
}

.modal__body h3 {
  color: var(--primary-color);
  font-size: 24px;
  margin-bottom: 10px;
}

.modal__footer {
  padding: 15px;
  text-align: right;
}

.modal__footer button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
}

.hide {
  display: none;
}

@keyframes modalShow {
  from {
    top: 20%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}